{{define "log/index.html"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文件查询</title>
    <link rel="stylesheet" href="static/layui/css/layui.css">
    <script src="static/layui/layui.js"></script>

    <style>
        .main {
            padding: 30px;
            display: flex;
        }
    </style>
</head>

<body>
    <button type="button" class="layui-btn layui-btn-primary" onclick="location.href='/'">
        首页
    </button>
    <div class="main">
        <div style="width: 30%">
            <div id="menu" style="width: 400px; height: 800px; overflow: scroll;"></div>
        </div>
        <div id="content" style="width: 900px;margin-left: 10px;height: 750px;">
            <pre class="logdata" lay-height="700px">文件内容会在这里展示呦！</pre>
        </div>
    </div>
</body>

<script>
    layui.use(['tree', 'code'], function () {
        layui.code()
        var tree = layui.tree
            , layer = layui.layer
            , $ = layui.jquery

        showFolds()
        function showFolds(pathId) {
            menuList = []
            $.ajax({
                async: true,
                url: '/api/show_fold',
                type: 'GET',
                data: { pathId: pathId },
                dataType: 'json',
                timeout: 30000,
                success: successCallback,
                error: errorCallback,
                complete: completeCallback
            })

            function successCallback(res) {
                console.log("res:", res);

                if (menuList.length == 0) {
                    menuList = res
                }

                tree.render({
                    elem: '#menu'
                    , data: menuList
                    , showLine: false //是否开启连接线
                    , accordion: true //开启手风琴模式
                    , click: function (obj) {
                        jsonObj = obj.data
                        // $("#content .logdata").html(JSON.stringify(jsonObj, null, 4));
                        showFolds(jsonObj.pathId)
                    }
                });
            }

            function errorCallback(err, status) {
                console.error("err:", err)
            }

            function completeCallback(xhr, status) {
                console.log('Ajax请求已结束。');
            }
        }
    });


</script>

</html>

{{end}}